

<div class="container mt-5">
  <div data-controller="search">
  <form action="/trainers">
    <input type="text" name="query" id="searchbar" placeholder="What are you looking for?"  data-action="search#display" data-search-target="input">
    <div class="results" data-search-target="results">
  </form>
    </div>
  </div>
</div>
